@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import "nav-bar.css";
@import "reset.css";
@import "status-bar.css";
@import "header.css";

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 10px;
    color: #020202;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
}